<%- include("partials/header.ejs") %>
<main>
   <div class="center-wrapper">
      <p>Welcome to JokeHub, your go-to place for a daily dose of laughter! Here, you can browse a collection of funny jokes, add your own, or even edit and share your favorite ones. Our goal is simple: to lift your spirits and bring a smile to your face. Whether you’re here to relax, entertain friends, or just need a quick laugh, JokeHub has something for everyone. Join our community of joke lovers and make every day a little brighter!</p>
   </div>
</main>

<%- include("partials/footer.ejs") %>