<%- include("partials/header.ejs") %>
<main>
   <div class="center-wrapper">
      <h1 class="highlight">JokeHub</h1>
      <h2>Welcome to Funny Jokes Blog</h2>
      <img src="/styles/gif/funny-emoji.gif" alt="Funny Emoji">
      <h3>Here you can read and share jokes!</h3>
   </div>
</main>

<%- include("partials/footer.ejs") %>